@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-serif: var(--font-geist-mono);
}

html,
body {
  scroll-behavior: smooth;
  background-color: #f4f4f0;
  color: #1a1a1a;
}
